#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.section-separator {
  width: 100%;
  height: 25px;
  /* Thinner height as requested */
  background-color: #dde3e6;
  border: none;
}